<section class="questao">

	<header>
		<p *ngIf="!play">
			Oi, tudo bem?  <br /> <br /> 
			Serão 5 perguntas e você terá apenas 30 segundos para responder cada uma das alternativas. boa sorte
		</p>

		<p *ngIf="play">

			<span *ngFor="let item of objeto">
				{{item.question}}

			</span>
		</p>
		

		<div class="acoes" *ngIf="play">
			<time>02:00&nbsp;</time> | &nbsp;<a [routerLink]="['/']">Desistir</a>
		</div>
	</header>

	<article class="alternativas">
		<form *ngIf="play">
			<ul>
				<li *ngFor="let option of options; let i = index">
					<input type="checkbox" name="{{questions.id}}-{{i}}" id="{{questions.id}}-{{i}}" value="">
					<label for="{{questions.id}}-{{i}}">{{option}}</label>
				</li>

			</ul>
			<button type="button" (click)="start()">Confirmar</button>
		</form>

		<button type="button" *ngIf="!play"
		 (click)="continuar()"
		 >Começar</button>
	</article>
</section>